@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital@0;1&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Irish+Grover&display=swap');

html
{
    font-size:15px;
    scroll-behavior: smooth;
    background: #F0FFFF;
}
/*----------------------Product---------------*/
.title
{
    text-align:center;
    font-size:4rem;
    padding:0.5rem;
    color:darkblue;
    font-family: 'Irish Grover', cursive;
    font-weight: lighter;
}

.cake-product .inner-cake-row
{
   display: flex;
   align-items: center;
   justify-content:center;
   flex-wrap: wrap;
}
.cake-product .inner-cake-col
{

    background:#fff;
    height: 35rem;
    flex:1 1 20rem;
    padding:1.2rem;
    margin:1.5rem;
    border-radius:1rem;
    box-shadow:0 .3rem .6rem #8fce00;
    text-align: center;
}

.cake-product .inner-cake-col:hover
{
    transition:.5s ease;
    transform:translateY(-.5rem);
}

.cake-product .inner-cake-col img
{
    height: 25rem;
    width:100%;
}

.cake-star
{
    color: #FFDF00;
    position:relative;
    margin-top: 1.7rem;
}

.cake-product .inner-cake-col h2
{
    padding: .5rem 0;
    color:darkblue;
    font-size:1.3rem;
    letter-spacing:.1rem;
    font-family: 'Montserrat', sans-serif;
}
